.pbjt {
  /* padding: clamp(24px, 4vw, 56px); */
  background: #fff;
  color: #111;
  font-family: Inter, system-ui, sans-serif;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  gap: 20px;
  align-items: center;
}

.badge {
  display: inline-block;
  background: var(--pbjt-primary-color);
  color: #fff;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}

/* .heroText h1 {
  margin: 28px 0 24px;
  max-width: 620px;
  font-size: clamp(38px, 5vw, 72px);
  line-height: 1.05;
  letter-spacing: -0.05em;
  font-weight: 900;
} */

.heroText strong {
  color: var(--pbjt-primary-color);
}

.line {
  width: 72px;
  height: 5px;
  border-radius: 999px;
  background: var(--pbjt-primary-color);
  margin-bottom: 28px;
}

.heroText p {
  max-width: 560px;
  color: #333;
  font-size: 16px;
  line-height: 1.8;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 34px;
}

.actions button {
  border: 1px solid var(--pbjt-primary-color);
  background: var(--pbjt-primary-color);
  color: #fff;
  border-radius: 10px;
  padding: 16px 26px;
  font-weight: 800;
  display: inline-flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.actions .secondary {
  background: transparent;
  color: var(--pbjt-primary-color);
}

.orbitWrap {
  position: relative;
  min-height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.orbitWrap img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.centerCircle {
  color: #fff;
  text-align: center;
  background: radial-gradient(
    circle at 0 0,
    #e01822,
    var(--pbjt-primary-color) 65%
  );
  border-radius: 50%;
  place-items: center;
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    0 0 0 12px #fff,
    0 0 32px #ba151d59;
}

.centerCircle span {
  /* max-width: 150px; */
  font-size: 24px;
  line-height: 1.25;
  font-weight: 900;
}

.actorCard {
  --extraSpace: 0px;
  position: absolute;
  width: 135px;
  height: 118px;
  border: 1px solid #eee;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: 800;
  transform: translateX(-50%);
}

.actorCard svg {
  color: var(--pbjt-primary-color);
  stroke-width: 2.2;
}

.actor0 {
  top: 2%;
  left: 50%;
}

.actor1 {
  top: 18%;
  right: calc(-15% + var(--extraSpace));
}
.actor2 {
  top: 48%;
  right: calc(-20% + var(--extraSpace));
}
.actor3 {
  bottom: 4%;
  right: calc(3% + var(--extraSpace));
}

.actor4 {
  bottom: 2%;
  left: calc(22% + var(--extraSpace));
}

.actor5 {
  left: calc(3% + var(--extraSpace));
  top: 45%;
}
.actor6 {
  top: 15%;
  left: calc(8% + var(--extraSpace));
}

.tier,
.cardLarge,
.values,
.quote {
  /* border: 1px solid #eee; */
  /* border-radius: 22px; */
  /* box-shadow: 0 16px 38px rgba(0, 0, 0, 0.04); */
}

.tier {
  margin-top: 36px;
  padding-block: 32px;
  display: grid;
  grid-template-columns: 0.9fr 1.6fr;
  gap: 36px;
  align-items: center;
}

.tierIntro {
  display: flex;
  gap: 22px;
  align-items: center;
}

.circleIcon {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: var(--pbjt-primary-color);
  color: #fff;
  display: grid;
  place-items: center;
  flex: 0 0 auto;
}

.tier h2,
.sectionHead h2 {
  font-size: 24px;
  margin: 0 0 12px;
}

.tier p,
.sectionHead p,
.principle p,
.toolCard p,
.valueItem p {
  color: #444;
  line-height: 1.65;
  margin: 0;
}

.chain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.chainItem {
  position: relative;
  display: grid;
  place-items: center;
  gap: 10px;
  font-weight: 800;
  text-align: center;
}

.chainItem svg {
  color: var(--pbjt-primary-color);
}

.chainArrow {
  position: absolute;
  right: -32px;
  color: #555 !important;
}

.grid {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 28px;
}

.cardLarge {
  padding: 1rem;
}

.sectionHead {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-bottom: 28px;
}

.svg-container {
}

.sectionHead > svg {
  color: var(--pbjt-primary-color);
  background: #fff0f1;
  padding: 12px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  flex: 0 0 auto;
}

.principle > svg {
  color: var(--pbjt-primary-color);
  background: #fff0f1;
  padding: 12px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  flex: 0 0 auto;
}

.toolCard > svg {
  color: var(--pbjt-primary-color);
  background: #fff0f1;
  padding: 12px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  flex: 0 0 auto;
}

.valueItem > svg {
  color: var(--pbjt-primary-color);
  background: #fff0f1;
  padding: 12px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  flex: 0 0 auto;
}

.principleGrid,
.toolGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.principle,
.toolCard {
  border: 1px solid #c1c1c1;
  border-radius: 18px;
  padding: 1rem;
}

.principle h3,
.toolCard h3,
.valueItem h3 {
  margin: 14px 0 12px;
  font-size: 17px;
}

.toolCard {
  display: flex;
  gap: 18px;
}

.values {
  margin-top: 28px;
  padding-block: 28px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

.valueItem {
  display: flex;
  gap: 16px;
  align-items: center;
}

.quote {
  margin-top: 28px;
  background: var(--pbjt-primary-color);
  color: #fff;
  padding: 28px;
  text-align: center;
  font-size: clamp(20px, 3vw, 32px);
  font-style: italic;
  font-weight: 600;
}

.svgContainer {
  background: #fff0f1;
  color: var(--pbjt-primary-color);
  border-radius: 50%;
  flex: none;
  width: 58px;
  height: 58px;
  /* padding: 12px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgContainer svg {
  padding: 0;
  border-radius: 0;
}

.frameworkBannerContainer h3,
.frameworkBannerContainer p {
  line-height: 100%;
  margin: 0;
}

.frameworkBannerContent {
  display: block;
  margin-top: -25px;
}

.heroText1 {
  color: black;
  font-size: 32px;
  font-weight: bold;
}

.heroText2 {
  color: white;
  font-size: 6rem;
  font-weight: bold;
}

.heroText3 {
  color: var(--pbjt-primary-color);
  font-size: 24px;
  font-weight: bold;
}

.heroText3Content {
  display: block;
  margin-top: -25px;
}

@media (max-width: 1024px) {
  .orbitWrap img {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  .actorCard {
    --extraSpace: 130px;
  }

  .hero,
  .tier,
  .grid {
    grid-template-columns: 1fr;
  }

  .orbitWrap {
    min-height: 520px;
  }

  .values {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .frameworkBannerContainer {
    transform: scale(0.7);
  }
}

@media (max-width: 640px) {
  .pbjt {
    padding: 20px;
  }

  .orbitWrap {
    min-height: auto;
    display: grid;
    gap: 14px;
  }

  .centerCircle,
  .actorCard {
    position: static;
    transform: none;
  }

  .centerCircle {
    margin: auto;
  }

  .actorCard {
    width: 100%;
    height: auto;
    padding: 18px;
  }

  .chain,
  .principleGrid,
  .toolGrid,
  .values {
    grid-template-columns: 1fr;
    display: grid;
  }

  .chainArrow {
    display: none;
  }

  .tier,
  .cardLarge,
  .values {
    padding: 1.5rem;
  }

  .toolCard,
  .valueItem,
  .tierIntro {
    flex-direction: column;
    align-items: flex-start;
  }
}
