:root {
    --header-from-top: 50px;
}

.menu.menu-active {
    background-color: var(--pbjt-primary-color);
    color: #ffffff;
}

.mobile-menu {
    height: calc(100vh - var(--from-top));
    top: var(--header-from-top);
}

.button-contact {
    background-color: var(--pbjt-primary-color);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 20px;
}

.mobile-menu nav {
    height: calc(100vh - 47px);
    overflow: auto;
}

.menu {
    display: block;
}

.header-content {
    min-height: var(--header-from-top);
}

.site-logo {
    min-width: 120px;
    height: auto;
}