:root {
    --header-from-top: 56px;
}

.pbjt__border-bottom {
    background-color: var(--pbjt-primary-color);
    width: 0%;
    height: 3px;
    margin: 0 auto;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    display: block;
}

.menu.menu-active .pbjt__border-bottom {
    width: 80%;
    transform: scale(1);
}

.mobile-menu {
    height: calc(100vh - var(--from-top));
    top: var(--header-from-top);
}

.mobile-menu .menu.menu-active {
    background-color: var(--pbjt-primary-color);
    color: #ffffff;
}

.button-contact {
    background-color: var(--pbjt-primary-color);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
}

.mobile-menu nav {
    height: calc(100vh - 47px);
    overflow: auto;
}

.menu {
    display: block;
}

.header-content {
    min-height: var(--header-from-top);
}

.site-logo {
    min-width: 120px;
    height: auto;
}